<div style="height: 100svh; display: flex; flex-direction: column; position: relative">
  <div style="flex-grow: 1; background-color: cyan" #targetEl (contextmenu)="disableContextMenu($event)">
    @for (item of touches$ | async; track item.id) {
      <div
        class="touch-indicator point rounded"
        [style.background-color]="item.color" 
        [style.left.px]="item.position[0]"
        [style.top.px]="item.position[1]">
    </div>
    }
    @if(gestures$ | async; as swipe) {
      <div
      class="touch-indicator"
      [style.left.px]="swipe.center[0]"
      [style.top.px]="swipe.center[1]"
      style="background-color: blueviolet; position: absolute;">
      {{swipe.type}}
      </div>
    }

    @if(pinch$ | async; as pinch) {
      <div
      class="touch-indicator"
      [style.left.px]="pinch.center[0]"
      [style.top.px]="pinch.center[1]"
      style="background-color: chartreuse; position: absolute;">
        Pinch: {{pinch.scale.toFixed(2)}}
      </div>
    }
  </div>

  <div>
    @for (kv of (touchState$ | async)?.touches| keyvalue; track kv.key) {
      <div>{{kv.key}}: {{kv.value.position | json}}:{{kv.value.timestamp.toFixed(0)}}</div>
    }
  </div>
</div>